/*reset Css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*general styles*/
body{
    font-family: 'monserrat' , sans-serif;
}
/*Container class general*/
.container{
    max-width: 80%;
    margin: 0 auto;
    max-width: 1150px;
}
.padding-section{
    padding:80px 0px;
}
.info-padding-section{
    padding:80px 0px;

}
/*header*/
header{
    color:#33282d;
    font-weight:500;
    font-size: 20px;
    padding: 30px 0px ;

}
.background-image{
    background-image: url(./assets/background\ beach.jpg);
    background-size:cover;
    
}
.bi-truck-front{
    display: flex ;
    color: rgba(222, 122, 0, 0.989);
    font-weight: bold;
    font-size: 30px;
}
.logo-container{
    display: flex;
}
.nav-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav{
        align-items: center;
    display: flex;
    justify-content: space-between;
}
.list-nav{ 
display: flex;
list-style: none;
gap: 60px;
}
/*Hero*/
main{
    height: 600px;
}
.hero{
    color: white;
    width: 100%;
    padding: 50px 0;
    
}   
.hero-elements{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.hero-title h1{
    color:white;
    font-family: 'Merriweather';
    font-size: 50px;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 79px;
    font-weight: bold;

}
.hero-title h2{
    padding-bottom: 40px;
}
.hero-titles{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.button-container a{
    color: white;
    padding: 20px 10px;
    border-radius: 30px;
    justify-content: center;
    text-decoration: none;
    
}
.button-reserve{
    background-color:rgba(222, 122, 0, 0.989);
}
.email-register{
    width: 210px;
    border-radius: 30px;
    padding: 10PX;
}
/*Content*/
.list-container{
    display: grid;
    list-style: none;
    gap: 40px;
    grid-template-columns: repeat(3,1fr);
    
}
.list-container h2{
    margin-bottom: 10px;

}
.info{
    
    color: #33282d;
    padding: 30px 0px;
    max-height: 600px;
}
.img-info{
    width: 300px;
    height: 400px;
    padding-top: 20px;
}
.img-info1{
    width: 300px;
    height: 390px;
    padding-top: 20px;
}
.destinations-title h3{
    font-family:'Merriweather' ;
    font-size: 25px;
    padding-top: 10px;
}
.destinations-title{
    color: #33282d;
    padding-bottom: 30px;
    padding-top: 50px;
}
.destinations-title h4{

    font-size: 18px;
    font-weight: 600;
}
.img-destinations{
    width: 500px;
    text-decoration: none;
}
.destinations-container{

    justify-content: bottom;
    padding-bottom: 80PX;
    
}
.destinations-list{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    list-style: none;
    gap: 50PX;
    align-items: center;
    
}
.text-destinations{

    text-decoration: noNE;
    color: #33282d;
    margin-top: 50PX;
    font-size: 20px;


}
.li-de{
    justify-self: center;

  
}
/*Footer*/
footer{
    
    background-color: black;
    height: 400px;
    padding: 80px 0px 50px;

}
.nav-footer{
    text-align: LEFT;
    padding: 0px 65.5px;
    justify-content: left;
}
.img-footer-container{
    height: 346px;
    padding: 0px 15px;
}
.img-footer{
    width: 150px;
    
}
.footer-list-container{
    font-size: 14PX;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    height: 346px;

    
}
.link-list{
    color: white;
    padding: 3px 0px 15px;
    height: 42px;
    list-style: none;
    
}
.list-nav-title{
    color:  #919496;
    font-weight: bold;
    margin: 20px 0px;
    list-style: none;
}
.footer-nav-list{
    width:  195px;
    padding-left:15px ;

}
.socialmedia-list-container{
    
    color: white;
    margin: 0 15px 0 183px;
    height: 346px;
    width: 192px;
    
}
.socialmedia-icon{
    display:inline-block;
    padding-left: 20px;

}
.img-icon{
    width: 35px;
}
.list-social-container{
    gap: 50px;
    PADDING-top: 10px
}
/*media responsive*/
@media screen and (max-width:992px) {
    .destinations-list{
        grid-template-columns: repeat(1,1fr);
        
    }
    .destination-section{
        padding-left: 60px;
    }
    .text-destinations{
        padding-left: 140px;
    }
    .list-container{
        gap: 15px;
    }
    .socialmedia-list-container{
        margin: 0 15px 0 160px;
    }
   .nav-header{
    justify-content: space-around;
   }
   .padding-section{
    padding-left: 40px;
   }
   .info-padding-section{
    padding-left: 20px;
   }
    
}
/*resposive movil*/
@media screen and (max-width: 768px) {
    .list-nav{
        gap:20px;
    }
    .list-container{
        grid-template-columns: repeat(2,1fr);
    
    }
    .socialmedia-list-container{
        margin:0px;
        
    }
    .nav-footer{
        padding: 0px;
    }
    .socialmedia-icon{
        padding: 0px 0px 0px;
    }
    .li-de{
        justify-content: center;
    }
    .info-padding-section{
        justify-content: center;
    }
}